.task {
  padding-bottom: 50px;
  padding: 10px 25px;
  background: #F5F5F5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
    display: inline-block;
    width: 280px;
    margin-bottom: 20px;
}
.task p{
  font-weight: 800;
font-size: 16px;
line-height: 22px;

color: #3D3D3D;


}
#tasks__div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* #create-task, #delete-task{
  display: none;
} */


.wrapper{
  /* display: flex; */
}
/* .column__left{
  display: flex;
  flex-direction: column;
} */
#getTasks{
  background: #828282;
border-radius: 5px;
padding: 6px 16px;
border: none;
color: #FFFFFF;
cursor: pointer;
}



.tabs__open{
  display: flex;
  justify-content: end;
}

.tab{
  position: fixed;
}






















* {box-sizing: border-box;
  font-family: 'Jura', sans-serif;
  /* font-family: 'Manrope', sans-serif; */
}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 15px;
  width: 70%;
  border-left: none;
  height: 300px;
}
.hello{
  margin-bottom: 30px;
  
  justify-content: center;
}
.hello a:last-child{
  margin-left: 30px;
}
.hello a{
  font-weight: 700;
font-size: 19px;
line-height: 19px;
color: #FFFFFF;
background: #689775;
box-shadow: 2px 2px 8px rgba(53, 65, 63, 0.16);
border-radius: 5px;
padding: 7px 16px;
text-decoration: none;
width: 200px;
    text-align: center;
}
.hello a:hover{
  background: #84B090;
box-shadow: 4px 4px 14px rgba(53, 65, 63, 0.12);
border-radius: 5px;
}
.hello a:active{
  background: #4D7759;
border-radius: 5px;
}
.title{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.hello__page{
  margin-top: 220px;
}
.register{
  margin-top: 100px;
}
.login{
  text-align: center;
  margin-top: 160px;
}
#delete-task input,
#create-task input,
.register input,
.login input{
  padding: 5px;
    border: none;
    border-bottom: 1px solid #262D2C;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #262D2C;
    outline: none;
    margin-bottom: 15px;
}
#delete-task input::placeholder,
#create-task input::placeholder,
.register input::placeholder,
.login input::placeholder{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #262D2C;
  
}
.register p,
.login p{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #262D2C;
  margin: 5px;
}
.login__btn{

}
#delete-task button{
  background: #C7493A!important;
}
#delete-task button,
.create__btn,
.reg__btn,
.login__btn{
  font-weight: 700;
font-size: 19px;
line-height: 19px;
color: #FFFFFF;
background: #689775;
box-shadow: 2px 2px 8px rgba(53, 65, 63, 0.16);
border-radius: 5px;
padding: 7px 16px;
text-decoration: none;
width: 200px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.create__btn:hover,
.reg__btn:hover,
.login__btn:hover{
  background: #84B090;
box-shadow: 4px 4px 14px rgba(53, 65, 63, 0.12);
border-radius: 5px;
}
.create__btn:active,
.reg__btn:active,
.login__btn:active{
  background: #4D7759;
border-radius: 5px;
}
.register{
text-align: center;
}
.register input{
  width: 210px;
}
.hello h1{
  text-align: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 230px;  
}
.hello__page_buttons{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
#delete-task,
#create-task {
display: inline-grid;
}
.exit__btn{
  position: relative;
  top: 13px;
  margin-left: 0!important;
  background: #d15547!important;
  opacity: 1;
}
.exit__btn:hover{
  background: #C7493A!important;
box-shadow: 4px 4px 14px rgba(53, 65, 63, 0.12);
}
.exit__btn{
  opacity: 0.7;
}
.hello__hover:hover .exit__btn{
  opacity: 1;
}

#delete-task button{
  background: #d45e51!important;
}
#delete-task button:hover{
  background: #C7493A!important;
box-shadow: 4px 4px 14px rgba(53, 65, 63, 0.12);
}











#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}